<%- include('../partials/header'); %>
    <div>
        <h1 class="text-center">Bem vindo a biblioteca</h1>
        <div class="container" style="background-color: bisque;">
            <div class="row">
                <ul>
                    <li>
                        <a href="/">Inicio</a>
                        <br>
                        <a href="/livros/cadastrarLivros">Cadastrar</a>
                        <br>
                        <a href="/livros">Listar</a>
                        <br>
                        <a href="/livros/cadastrarUsuario">cadastrar Usuario</a>
                        <br>
                        <a href="/livros/loginUsuario">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <%- include('../partials/footer'); %>